.dialog-pane {
  -fx-background-color: #181C82;
  -fx-border-color: #c26d37;
  -fx-border-radius: 10;
  -fx-border-width: 2;
  -fx-background-radius: 10;
  -fx-padding: 10;

  -fx-pref-height: 200;
  -fx-pref-width: 400;
}

.vBox {
  -fx-background-color: rgba(196, 0, 0, 0.9);
  -fx-background-radius: 6;
}

.errorText {
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-fill: #ffffff;
}

.errorDescription {
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-fill: #ffffff;
}

.informationText {
  -fx-font-size: 16;
  -fx-fill: #ffffff;
}

.dialog-pane .button {
  -fx-background-radius: 12;
  -fx-border-radius: 10;
  -fx-border-width: 2;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-pref-height: 40;
  -fx-pref-width: 100;
  -fx-font-size: 14;
  -fx-alignment: center;
}

.positiveButton {
  -fx-background-color: #c26d37;
  -fx-border-color: #0f2465;
}

.negativeButton {
  -fx-background-color: #0f2465;
  -fx-border-color: #c26d37;
}

.textField {
  -fx-background-color: #0F2465FF;
  -fx-text-fill: #ffffff;
  -fx-prompt-text-fill: #565656;
  -fx-font-size: 14;
  -fx-border-color: #c26d37;
  -fx-border-width: 2;
  -fx-border-radius: 5;
}