.buttonBox {
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-padding: 0 40 0 40;
}
.menuButton {
  -fx-font-size: 14;
  -fx-alignment: center-left;
}
.subMenuButton {
  -fx-font-size: 12;
  -fx-alignment: center-left;
}
.menuButton,
.subMenuButton {
  -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #0f2465, transparent);
  -fx-background-radius: 0;
  -fx-border-width: 0;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-padding: 10 20 10 20;
  -fx-pref-width: infinity;
  -fx-pref-height: 40;
}
.menuButton:hover,
.menuButton:pressed,
.menuButton:selected,
.subMenuButton:hover,
.subMenuButton:pressed,
.subMenuButton:selected {
  -fx-background-color: linear-gradient(to right, #c26d37 50%, transparent);
  -fx-text-fill: #ffffff;
}
