.label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: #eeeeee;
}

.text {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: #eeeeee;
}

.box {
  -fx-padding: 0 0 0 10;
  -fx-background-color: radial-gradient(center 20% 50%, radius 100%, #000000, rgba(2, 2, 2, 0.85));
  -fx-border-width: 0px;
}