.text {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: italic;
  -fx-fill: #c4c4c4;
  -fx-pref-height: 40;
}

.optionButton {
  -fx-font-size: 14;
  -fx-alignment: center-left;
  -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #0f2465, transparent);
  -fx-background-radius: 0;
  -fx-border-width: 0;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-padding: 10 20 10 20;
  -fx-pref-width: 80;
  -fx-pref-height: 40;
}

.optionButton:hover,
.optionButton:selected {
  -fx-background-color: linear-gradient(to right, #c26d37 50%, transparent);
  -fx-text-fill: #ffffff;
}

.slider .track {
  -fx-background-color: #12165b;
}

.slider .thumb {
  -fx-background-color: #c26d37;
}