.textField {
  -fx-background-color: #0F2465FF;
  -fx-text-fill: #ffffff;
  -fx-prompt-text-fill: #565656;
  -fx-font-size: 14;
  -fx-border-color: #c26d37;
  -fx-border-width: 2;
  -fx-border-radius: 5;
}

.attributeNames {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-fill: #cccccc;
}

.errorLabel {
  -fx-font-size: 10px;
  -fx-text-fill: #ff0000;
}

.attributeNumber {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: italic;
  -fx-text-fill: #c4c4c4;
}

.frame {
  -fx-border-width: 0px;
  -fx-padding: 20 40 0 40;
  -fx-hgap: 10;
  -fx-vgap: 10;
}

.vbox {
  -fx-background-color: #181C82;
}

.scroll-bar,
.scroll-pane,
.scroll-pane .viewport {
  -fx-background-color: #181C82;
}

.scroll-bar .thumb {
  -fx-background-color: #c26d37;
}

.button {
  -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #0f2465, transparent);
  -fx-background-radius: 0;
  -fx-border-width: 0;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-padding: 10 20 10 20;
  -fx-pref-height: 40;
  -fx-pref-width: 250;
  -fx-font-size: 12;
  -fx-alignment: center;
}

.button:hover,
.button:pressed,
.button:selected {
  -fx-background-color: #c26d37;
  -fx-text-fill: #ffffff;


}